[submodule "atmos_cubed_sphere"]
  path = atmos_cubed_sphere
  url = https://github.com/kayeekayee/GFDL_atmos_cubed_sphere.git
  branch = 2024Dec05_9490871
[submodule "ccpp/framework"]
  path = ccpp/framework
  url = https://github.com/kayeekayee/ccpp-framework.git
  branch = 2024Nov21_9e1c3ab
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = https://github.com/NOAA-GSL/ccpp-physics-ufs
  branch = global-workflow
[submodule "upp"]
  path = upp
  url = https://github.com/NOAA-GSL/UPP
  branch = global-workflow
