[submodule "atmos_cubed_sphere"]
  path = atmos_cubed_sphere
  url = https://github.com/kayeekayee/GFDL_atmos_cubed_sphere
  branch = atmos_cubed_1720f85
[submodule "ccpp/framework"]
  path = ccpp/framework
  url = https://github.com/kayeekayee/ccpp-framework
  branch = main
[submodule "ccpp/physics"]
  path = ccpp/physics
  url = https://github.com/kayeekayee/ccpp-physics-ufs
  branch = 2024aug4_46df080
[submodule "upp"]
  path = upp
  url = https://github.com/kayeekayee/upp
  branch = 2024aug4_be0410e
